

.blog {
	@include clearfix;
	text-align: center;
	background: url(../img/bg-gradient-grey.png) center center repeat-y;
	background-size: cover;

	.blog-title {
		margin: 10px 0;
		width: 90%;
		max-width: 500px;
	}

	.blog-listing {
		.entry {
			@include respond-to( 768px ) {
				float: left;
				width: 30%;
				margin: 0 2% 0 1%;

				&:first-child {
					margin-left: 0%;
				}
			}

			h3 {
				font-size: 1.4em;

				a {
					text-transform: uppercase;
					text-decoration: none;
					color: $navy;
				}
			}

			img {
				border: 10px solid white;
				box-shadow: 0 0 20px rgba( black, .2 ); 
				margin-bottom: 20px;
			}
		}
	}
}