

// set colors
$lime: #A8AD00;
$purple: #410099;
$blue: #0071CE;
$navy: #164476;
$orange: #F47735;
$grey: #9C9FA0;
$grey-dark: darken( $grey, 30% );
$grey-light: #E6E7E8;


// background classes for divs
.bg-lime { background-color: $lime; color: white; }
.bg-grey-light { background-color: $grey-light; color: white; }
.bg-grey { background-color: $grey; color: white; }
.bg-grey-dark { background-color: $grey-dark; color: white; }
.bg-purple { background-color: $purple; color: white; }
.bg-blue { background-color: $blue; color: white; }


// text color classes <p> or <span>
.text-lime { color: $lime; }
.text-grey-light { color: $grey-light; }
.text-grey { color: $grey; }
.text-grey-dark { color: darken( $grey, 30% ); }
.text-purple { color: $purple; }
.text-blue { color: $blue; }

