

.footer {
	background: $purple url(../img/bg-footer.png) center center;
	color: white;
	padding: 20px 0;
	font-size: .8em;
	position: relative;
	@include clearfix;

	@include respond-to( 1024px ) {
		padding: 30px;
	}

	strong {
		font-size: 1.2em; 
		text-transform: uppercase;
	}

	.column {
		padding: 20px;

		@include respond-to( 600px ) {
			float: left;
			width: 50%;
			margin: 0;
			padding: 0 20px;
		}

		@include respond-to( 1024px ) {
			width: 20%;
			border-left: 2px solid white;
			min-height: 275px;

			&.first {
				border-left: 0;
			}

 			&.thirty {
				width: 30%;
			}
		}

		ul {
			li {
				a {
					display: block;
					color: white;
				}
			}
		}
	}

	p {
		padding: 10px 0;
	}

	.social-facebook {
		position: absolute;
		bottom: 30px;
		right: 30px;
		max-width: 80px;
	}
}


.colophon {
	@include clearfix;
	
	.third {
		@include font;
		font-size: .7em;
		line-height: 1.7em;

		&.links {
			@include font-bold;
			font-size: .8em;

			a {
				text-decoration: none;
			}
		}

		&:first-child {
			img {
				max-width: 30%;
			}
		}
	}

	img {
		max-width: 15%;
		margin: 0 15px 0 0;
	}
}

