

body.fixed-menu {
	padding-top: 61px;
}


header {
	text-align: center;
	position: relative;

	.logo {
		padding: 10px 20px;

		@include respond-to( 600px ) {
			float: left;
			padding: 20px 35px;
			max-width: 30%;
		}

		@include respond-to( 1024px ) {
			padding: 20px 45px;
		}

		@include respond-to( 1440px ) {
			padding: 30px 45px 30px 95px;
		}
	}

	.container-main-menu {
		background: url(../img/bg-gradient-grey.png) center center repeat-y;
		background-size: cover;
		position: relative;
		@include clearfix;
		padding: 0 0 10px;
		border-top: 1px solid $grey;

		&.scrolled {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1001;
			border-bottom: 1px solid $grey;
			box-shadow: 0 0 30px rgba( $grey, .5 );
		}

		body.admin-bar &.scrolled {
			top: 32px;
		}

		@include respond-to( 1000px ) {
			padding: 0 0 0 10px;
		}

		@include respond-to( 1100px ) {
			padding: 0 0 0 30px;
		}

		@include respond-to( 1440px ) {
			padding: 0 80px 0 85px;
		}
		
		.button {
			@include respond-to( 1000px ) {
				float: right;
				margin: 9px 20px 0 0;
				width: 200px;
			}
		}

		ul.nav-menu {
			padding: 10px 0;

			@include respond-to( 1000px ) {
				float: left;
				height: 60px;
				padding: 0;
			}

			@include respond-to( 2000px ) {
				height: 78px;
			}
			
			li {
				@include respond-to( 1000px ) {				
					display: inline-block;
					position: relative;
					float: left;
				}

				a {
					@include font-bold;
					display: block;
					padding: 10px 5px 8px;
					font-size: 14px;
					line-height: 17px;
					color: $purple;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					width: 100%;
					transition: 300ms background-color ease-in-out;

					@include respond-to( 1024px ) {
						display: inline-block;
						width: auto;
						padding: 22px 8px 21px;
					}

					@include respond-to( 1220px ) {
						font-size: 17px;
						padding: 22px 15px 21px;
					}

					@include respond-to( 2000px ) {
						font-size: 25px;
						padding: 30px 21px;
					}
				}

				&:hover, &:focus, &.open {
					a {
						background-color: $grey-light;
					}

					ul.sub-menu {
						display: block;
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;

					@include respond-to( 600px ) {
						position: absolute;
						left: 0;
						top: 60px;
						width: 240px;
						z-index: 2000;
						@include clearfix;
						border: 1px solid $grey-light;
						border-top: 0;
					}

					@include respond-to( 2000px ) {
						top: 78px;
						width: 375px;
					}

					li {
						display: block;
						width: 100%;

						a {
							padding: 7px 8px;
							font-size: 12px;
							line-height: 18px;
							display: block;
							background: lighten( $grey-light, 5% );
							color: $grey-dark;
							text-align: left;

							@include respond-to( 1000px ) {
								padding: 10px 10px;

								&:hover {
									background: lighten( $grey-light, 20% );
								}
							}

							@include respond-to( 1220px ) {
								padding: 12px 15px;
							}

							@include respond-to( 2000px ) {
								font-size: 18px;
								line-height: 22px;
							}
						}
					}
				}
			}
		}
	}


	.skip-content {
		position: absolute !important;
		height: 1px; 
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}

	.header-search {
		display: none;

		@include respond-to( 840px ) {
			display: block;
			position: absolute;
			right: 40px;
			top: 20px;
			width: 30%;
			max-width: 250px;
			height: 120px;
			text-align: left;
			border: 2px solid $lime;
			border-radius: 15px;
			padding: 10px;
			
			input[type=text] {
				margin: 5px 0 0;
				font-size: .9em;
				line-height: 1.2em;
				border: 2px solid $lime;
				width: 100%;
			}

			input[type=submit] {
				margin: 3px 0;
			}
		}

		@include respond-to( 1440px ) {
			top: 30px;
		}

		@include respond-to( 2000px ) {
			top: 20px;
			height: 140px;
		}
	}

	.online-branch {
		text-align: left;
		border: 2px solid $blue;
		border-radius: 15px;
		padding: 10px;
		margin: 10px;		
		
		img {
			max-width: 70%;
		}

		input[type=text] {
			margin: 5px 0 0;
			font-size: .9em;
			line-height: 1.2em;
			border: 2px solid $blue;
			width: 100%;
		}

		input[type=submit] {
			margin: 3px 0;
		}

		@include respond-to( 840px ) {
			position: absolute;
			right: 320px;
			top: 20px;
			width: 30%;
			max-width: 250px;
			height: 120px;
			text-align: left;
			border: 2px solid $blue;
			border-radius: 15px;
			padding: 10px;
			margin: 0;
		}

		@include respond-to( 1440px ) {
			top: 30px;
		}

		@include respond-to( 2000px ) {
			top: 20px;
			height: 140px;
		}
	}
}

