

.pad {
	padding: 10px 20px;

	@include respond-to( 600px ) {
		padding: 10px 40px 30px;
	}

	@include respond-to( 1024px ) {
		padding: 20px 50px 40px;
	}
}


.home-showcase {
	position: relative;

	.online-branch {
		display: none;

		@include respond-to( 840px ) {
			display: block;
			position: absolute;
			right: 50px;
			bottom: 50px;
			width: 30%;
			max-width: 300px;
			background: white;
			border: 2px solid $blue;
			border-radius: 20px;
			padding: 20px;

			input[type=text] {
				margin: 10px 0;
			}
		}
	}
}

