

.large-title {
	background: url(../img/bg-gradient-blue.png) center center repeat-y;
	padding: 20px;
	@include clearfix;

	@include respond-to( 600px ) {
		padding: 20px 40px;
	}

	@include respond-to( 1024px ) {
		padding: 20px 50px;
	}

	h1 {
		color: white;
		font-size: 30px;
		line-height: 30px;
		padding: 0 !important;

		@include respond-to( 600px ) {
			font-size: 40px;
			line-height: 40px;
		}

		@include respond-to( 800px ) {
			font-size: 45px;
			line-height: 45px;
			float: left;
		}
	}

	h3 {
		color: white;
		font-size: 20px;
		line-height: 30px;
		padding: 0 !important;

		@include respond-to( 800px ) {
			font-size: 25px;
			line-height: 25px;
			padding: 20px 0 0 20px !important;
			border-left: 3px solid white;
			margin-left: 20px;
			float: left;
		}
	}
}

